<a href="https://www.paypal.com/signin?returnUri=http%3A%2F%2Furi.paypal.com%2FWeb%2FWeb%2Fcgi-bin%2Fwebscr%3Fvia%3Dul&state=%3fcmd%3d_account"> Paypal</a>
<a href="https://accountonline.citi.com/cards/svc/LoginGet.do?siteId=CB&full_site=yes&JFP_TOKEN=WHIGLI63">Credit Card</a>