<h1>More...</h1>
<form class="vertForm">
		<input type="text" placeholder="Round Trips/One Way"></input>
		<input type="text" placeholder="Departure Date"></input>
		<input type="password" placeholder="Number of Passengers"></input>
		<input type="text" placeholder="Number of luggages"></input>
		<input type="text" placeholder="Lowest Fee"></input>
		<input type="text" placeholder="Highest Fee"></input>
</form>
<a href="searchResDriver">GO!</a>