<div class="homeBody">
	<div class="headerText">
		<h1 class="topHeader">Where</h1>
		<h2 class="bottomHeader">Are you going?</h2>
	</div>
	<form>
		<p>From:</p>
		<input type="text"></input>
		<p>To: </p>
		<input type="text"></input>
	</form>
	<a href="pasOrDriver"> --> </a>
</div>
