<div class="homeBody">
	<div class="headerText">
		<h1 class="topHeader">Where</h1>
		<h2 class="bottomHeader">Are you going?</h2>
	</div>
	<form method="POST">
		<p>From:</p>
		<input type="text" name="location"></input>
		<p>To: </p>
		<input type="text" name="destination"></input>
		<button class="submitArrow" type="submit" href="/pasOrDriver"> → </button>
	</form>
<<<<<<< HEAD
	<a href="startJourney"> --> </a>
=======
>>>>>>> origin/master
</div>
