<div class="navBar">
	<h2>{{title}}</h2>
	<ul>
		<li><a href="login">Login</a></li>
		<li><a href="signupPass">Sign up</a></li>
	</ul>
</div>

<div class="homeBody">
	<h1>Where</h1>
	<h1>are you going?</h1>
	<h2>where</h2>
</div>