<div class="navBar">
	<h2>{{title}}</h2>
	<ul>
		<li><a href="login">Login</a></li>
		<li><a href="signupPass">Sign up</a></li>
	</ul>
</div>

<div class="homeBody">
	<h1>WHERE</h1>
	<h2>ARE YOU GOING?</h2>
	<form>
		<p>From:</p>
		<input type="text"></input>
		<p>To: </p>
		<input type="text"></input>
	</form>
	<a href="pasOrDriver"> --> </a>
</div>

