<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300, 400,700" rel="stylesheet"> 
  </head>
  <body>
  <div class="navBar">
  	<h2>{{title}}</h2>
  	<ul>
  		<li><a href="login">Login</a></li>
  		<li><a href="signupPass">Sign up</a></li>
  	</ul>
  </div>
    {{{body}}}
  </body>
</html>
