<div class="navBar">
  <h2>{{title}}</h2>
  <ul>
    <li><a href="login">Login</a></li>
    <li><a href="signupPass">Sign up</a></li>
  </ul>
</div>

    <ul>
       <h1>Name</h1>
       <h1>Password</h1>
    </ul>