<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul>
       <h1>Name</h1>
       <h1>Password</h1>
    </ul>
  </body>
</html>
