<<<<<<< HEAD
<div class="homeBody">
  <div class="headerText">
    <h1 class="topHeader">Sign up</h1>
  </div>
  <form class="vertForm">
		<input type="text" placeholder="name"></input>
		<input type="password" placeholder="password"></input>
		<a href="/profilePage">→</a>
  </form>
	<a href="profilePage"> My Account </a>
	<a href="detailTrip"> My trips </a>
</div>
