<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul>
       <h1> I AM</h1>
       <h2>PASEENGER</h2>
       <h2>DRIVER</h2>
    </ul>
  </body>
</html>