<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Rate your trip</h1>
    <h1>Feedback(optional)</h1>
  </body>
</html>
