<div class="homeBody">
  <div class="headerText">
    <h1 class="topHeader">Sign up</h1>
  </div>
  <form class="vertForm" method="POST">
		<input type="text" placeholder="username" name="username"></input>
		<input type="text" placeholder="email" name="email"></input>
		<input type="text" placeholder="college" name="college"></input>
		<input type="password" placeholder="password" name="password"></input>
		<input type="text" placeholder="upload photo" name="photo"></input>
		<button class="submitArrow" type="submit" href="/profilePage/{{_id}}">→</button>
  </form>
</div>