<h1>SIGN UP</h1>
<form>
		<p>Name:</p>
		<input type="text"></input>
		<p>E-mail: </p>
		<input type="text"></input>
		<p>Password(6 digits): </p>
		<input type="text"</input>
		<p>School:</p>
		<input type="text"</input>

</form>
	<a href="profilePage"> --> </a>