<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul>
       <h1>START</h1>
       <h2>YOUR JOURNEY</h2>
       <h3><a href="signupPass">SIGN UP</a></h3>
       <h3><a href="login">SIGN IN</a></h3>
    </ul>
  </body>
</html>