<div class="homeBody">
  <div class="headerText">
    <h1 class="topHeader">Start</h1>
    <h2 class="bottomHeader">Your Journey</h2>
  </div>
  <form>
    <button href="/signupPass">Sign Up</button>
    <button href='/login'>Sign In</button>
  </form>
</div>