<div class="homeBody">
  <div class="headerText">
    <h1 class="topHeader">Start</h1>
    <h2 class="bottomHeader">Your Journey</h2>
  </div>
  <form class="vertForm">
    <a href="/signupPass">Sign Up</a>
    <a href='/login'>Sign In</a>
  </form>
</div>
