* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	font: 14px "Open Sans", Helvetica, Arial, sans-serif;
}

a {
	text-decoration: none;
}

h2 {
	color: blue;
}

/* colors */

.siteOrange {
	color: #FF7D45;
}

.siteDarkBlue {
	color: #203561;
}

.siteLightBlue {

}

/* navigation bar */

.navBar {
	display: flex;
	flex-direction: row;
	background-color: #FF7D45;
	width: 100vw;
	height: 10vh;
}

.navBar h2 {
	display: flex;
	align-items: center;
	color: white;
	width: 40vw;
	padding-left: 20px;
}

.navBar ul {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 60vw;
}

.navBar li {
	list-style: none;
	display: inline-block;
	margin-right: 10px;
	text-transform: uppercase;
}

.navBar li a {
	color: white;
}

/*homepage body */

.homeBody {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 90vh;
	background-image: url("../images/homeBack.jpg");
	background-size: 100vw 100vh;
	background-repeat: no-repeat;
}

.homeBody h1, .homeBody h2 {
	color: white;
	font-size: 48px;
}

.headerText {
	width: 60vw;
	text-align: center;
	line-height: 1.1;
}

.topHeader {
	font-weight: 400;
	font-size: 112px !important;
	text-transform: uppercase;
}

.bottomHeader {
	font-weight: 400;
	font-size: 100%;
	text-transform: uppercase;
	padding-bottom: 25px;
}

.homeBody form {
	display: flex;
    justify-content: center;
    width: 75vw;
}

.homeBody input {
	margin-right: 25px;
	opacity: 0.4;
	color: #FF7D45;
	font-weight: 700;
}

.homeBody form p {
	display: flex;
	align-items: center;
	color: white;
	padding-right: 10px;
	text-transform: uppercase;
}

.submitArrow {
	font-weight: 700;
	font-size: 24px;
	background-color: transparent;
    border: none;
    color: #FF7D45;
    cursor: pointer;
}

/* vertical forms */

.vertForm {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 75vw;
}

.vertForm input {
	font-size: 24px;
	width: 25vw;
	margin-right: 0;
	padding: 5px 10px;
	margin-bottom: 10px;
	text-align: center;
}

.vertForm a {
	font-weight: 700;
	width: 25vw;
	color: white;
	text-transform: uppercase;
	text-align: center;
	padding: 5px 10px;
    border: 1px solid white;
    margin-bottom: 15px;
    background-color: rgba(255,255,255,0.25);
    transition-duration: 1s;
}

.vertForm a:hover {
	transition-duration: 1s;
	background-color: rgba(255,255,255,0.15);
}

/* profile page */

.profilePage {
	width: 100vw;
	max-width: 960px;
	display: flex;
	justify-content: center;
	margin-top: 25px;
}

.goBack {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 10vw;
}

.userDetails {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	width: 40vw;
}

.userPhoto {
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0.6;
	background-color: #FF7D45;
	width: 250px;
	height: 250px;
}

.userPhoto h2 {
	font-weight: 300;
	color: white;
}

.userName {
	color: #FF7D45;
	font-size: 36px;
}

.userCollege {
	color: #203561;
}

.driverLink {
	background-color: #FF7D45;
	padding: 5px;
}

.driverLink a {
	font-size: 18px;
	font-weight: 300;
	color: white;
}

.reviewsContainer {
	width: 50vw;
	background-color: #B8C5E3;
	margin: 0px 25px;
	padding: 10px;
}

.review {
	display: flex;
	flex-direction: column;
}

.review span {
	display: flex;
	align-items: center;
}

.review span h3 {
	margin-left: 10px;
}