* {
	margin: 0;
	padding: 0;
}

body {
  font: 14px "Open Sans", Helvetica, Arial, sans-serif;
}

a {
	text-decoration: none;
}

h2 {
	color: blue;
}


/* navigation bar */

.navBar {
	display: flex;
	flex-direction: row;
	background-color: #FF7D45;
	width: 100vw;
	height: 10vh;
}

.navBar h2 {
	display: flex;
	align-items: center;
	color: white;
	width: 40vw;
	padding-left: 20px;
}

.navBar ul {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 60vw;
}

.navBar li {
	list-style: none;
	display: inline-block;
	margin-right: 10px;
	text-transform: uppercase;
}

.navBar li a {
	color: white;
}

/*homepage body */

.homeBody {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 90vh;
	background-image: url("../images/homeBack.jpg");
	background-size: 100vw 100vh;
	background-repeat: no-repeat;
}

.homeBody h1, .homeBody h2 {
	color: white;
	font-size: 48px;
}

.headerText {
	width: 50vw;
	text-align: center;
	line-height: 1.1;
}

.topHeader {
	font-weight: 400;
	font-size: 112px !important;
	text-transform: uppercase;
}

.bottomHeader {
	font-weight: 400;
	font-size: 100%;
	text-transform: uppercase;
	padding-bottom: 25px;
}

.homeBody form {
	display: flex;
    justify-content: center;
    width: 75vw;
}

.homeBody input {
	margin-right: 25px;
	opacity: 0.4;
}

.homeBody form p {
	color: white;
	padding-right: 10px;
	text-transform: uppercase;
}